*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(255, 255, 255);
}

.nav{
    /* position:fixed; */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 80px;
   
}
.nav li{
    list-style: none;
    margin-left: 15px;
    word-spacing: 4px;

}
.nav a{
    text-decoration: none;
    color: white;
    transition: ease-in-out;
}
.nav h1{
    margin-left: 16px;
    margin-right: 16px;
    color: white;
    font-family:  'Lobster', cursive;
    cursor: pointer;
}
.search{
    background-color: black;
    height: 100px;
 
  
}
.search input{
    outline: none;
    border: none;
    width: 500px;
    margin: 10px;
    margin-left: 390px;
    padding: 10px;
    border-radius: 4px;
}
.search button{
    cursor: pointer;
    border-radius: 3px;
    width: 100px;
    background-color: black;
    border: 1px solid white;
    color: white;
    height: 40px;
}
.search button:hover{
    background-color: white;
    color: black;
    transition: 0.2s ease-in;
}
.Header{
    margin: 20px;
}
.Header h1{
    margin-left: 60px;
    margin-top: 30px;
    color: gray;
    font-size: 25px;
}
.grid{
    margin: 80px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    grid-gap: 20px;
    text-align: justify;
    background-color: white;

}
.items{
    margin-top: 10px;
    width: 260px;
    height: 265px;
    /* box-shadow: 1px 0px  10px rgb(144, 140, 140); */
   border-radius: 3px;
   background-color: whitesmoke;
}
.items:hover{
    box-shadow: 4px 0px 13px rgb(158, 156, 156);
    transition: 0.3 ease-in-out;
}
.items img{
    width: 260px;
    height: 180px;
}
.items h4,p{
    text-align: center;
}
.items button{
    width: 80%;
    padding: 10px;
    margin-bottom: 3px;
    margin-left: 25px;
    background-color: white;
    color: black;
    outline: none;
    border: 1px solid black;
    cursor: pointer;
}
.items button:hover{
    color: white;
    border: solid 1px black;
    background-color: black;
}
.foo{
    background-color: rgb(241, 241, 241);
}
.foo h1{
    color: gray;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#pr{
    color: grey;
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    columns: 3;
}
.for{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}
form{
    padding: 30px;
}
.for input{
    padding: 10px;
     width: 100%; 
    outline: none;
}
.for textarea{
padding: 10px;
outline: none;
width: 100%;
}
.for button{
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(0, 0, 0);
    background-color: whitesmoke;
    outline: none;
    cursor: pointer;
    color: rgb(0, 0, 0);
}
.for button:hover{
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    outline: none;
    cursor: pointer;
    color: whitesmoke;
}