@media only screen and (max-width:320px){
    .nav a li{
        visibility: hidden;
    }
    .search input{
        outline: none;
        border: none;
        width: 50px;
        margin: 10px;
        margin-left: 0px;
        padding: 10px;
        border-radius: 4px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(1,4fr);
    }
}
@media only screen and (max-width:481px){
    .nav a li{
        visibility: hidden;
    }
    .search input{
        outline: none;
        border: none;
        width: 500px;
        margin: 10px;
        margin-left: 100px;
        padding: 10px;
        border-radius: 4px;
    }
    .grid{
        margin: 80px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        grid-gap: 20px;
        text-align: justify;
        background-color: white;
    
    }
}
@media only screen and (max-width:768px){
    .nav a li{
        visibility: hidden;
    }
    .search input{
        outline: none;
        border: none;
        width: 500px;
        margin: 10px;
        margin-left: 150px;
        padding: 10px;
        border-radius: 4px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
}
@media only screen and (max-width:1025px){
    .nav a li{
        visibility: hidden;
    }
    .search input{
        outline: none;
        border: none;
        width: 500px;
        margin: 10px;
        margin-left: 150px;
        padding: 10px;
        border-radius: 4px;
    }
}